opt/gui/node_modules/
.DS_Store
.bash_history
__pycache__/
opt/gui/src/assets/geojson/timezone/files/high-res/
opt/gui/src/assets/geojson/timezone/files/low-res/
opt/gui/src/assets/translations
opt/gui/dist/
opt/gui/package-lock.json
config/base.lic
config/api/api.json
config/messaging/consumer/consumer.json
config/gui/gui.json
config/gui/translations/en-us.json
config/gui/translations/nl-be.json
config/gui/hashes/config.json
config/gui/symlink/symlink.json
config/messaging/producer/producer.json
config/service/service.json
config/messaging/topic/topic.json
config/logging/logging.json
config/table/table.json
opt/gui/src/assets/backgrounds
opt/gui/src/assets/icons
opt/gui/src/assets/logos
opt/gui/src/assets/routes
opt/gui/src/assets/svgs
opt/gui/src/assets/images
opt/gui/src/assets/hashes
opt/gui/src/assets/objects
opt/gui/src/assets/config.json
lib/plugin/
lib/migrations/versions/
