<!--
    Author:     Thomas D'haenens
    License:    GPL-3.0
    Link:       https://github.com/BENEATLY/neat-community/
    Contact:    https://neatly.be/
-->


<!-- Template -->
<ng-template #template>

  <div class="credit-footer">

    <!-- Logo -->
    <a [attr.href]="footerLogoLink" target="_blank">
      <img [src]="footerLogo" class="logo">
    </a>

    <!-- Copyright -->
    <p class="copyright">Copyright © {{ timeLib.getCurrentYear() }}</p>

    <!-- Contact -->
    <a *ngIf="presentLib.getContactLink(appConfig, pluginConfig)" [attr.href]="presentLib.getContactLink(appConfig, pluginConfig)" target="_blank">
      <p class="contact" [translate]="'common.button.contact'"></p>
    </a>

  </div>

</ng-template>
