<!--
    Author:     Thomas D'haenens
    License:    GPL-3.0
    Link:       https://github.com/BENEATLY/neat-start-orig/
    Contact:    https://neatly.be/
-->


<!-- Result Div -->
<div class="result-div with-footer">

<!-- Navigation Header -->
<app-template-navigation-header></app-template-navigation-header>

<!-- Results -->
<div class="results row blockpadding nomargin flex-no-height">

  <!-- Iterate over Items -->
  <ng-container *ngFor="let item of translation.translationOptions">

    <!-- Item Box -->
    <app-template-select-box [type]="'flag'" [action]="changeLanguage" [active]="isActiveLanguage" [item]="item"></app-template-select-box>

  </ng-container>

</div>

<!-- Footer -->
<app-template-footer></app-template-footer>

</div>
