<!--
    Author:     Thomas D'haenens
    License:    GPL-3.0
    Link:       https://github.com/BENEATLY/neat-start-orig/
    Contact:    https://neatly.be/
-->


<!-- Template -->
<ng-template #template>

  <!-- Regular Action Box -->
  <div *ngIf="type == 'regular'" class="row-{{size}}">
    <div class="white-box">

      <!-- Header -->
      <div class="header">
        {{ title | translate: titleParams }}
        <img *ngIf="cornerAction" (click)="cornerAction?cornerAction(context):null" [src]="cornerIcon">
        <img *ngIf="infoRef" (click)="modalLib.boxHelpModal(modalService, {'title': translate.instant('common.label.help', {propertyName: translate.instant(title, titleParams)}), 'value': translate.instant(infoRef, infoRefParams)})" [src]="'/assets/svgs/info-gradient.svg'">
      </div>

      <!-- Content -->
      <button (click)="buttonAction?buttonAction(context):null" class="white-box-button big no-text-transform">
        <img [src]="buttonIcon">
        <p>{{ buttonText | translate: buttonTextParams }}</p>
      </button>

    </div>
  </div>

  <!-- File Action Box -->
  <div *ngIf="type == 'file'" class="row-{{size}}">
    <div class="white-box">

      <!-- Header -->
      <div class="header">
        {{ title | translate: titleParams }}
        <img *ngIf="cornerAction" (click)="cornerAction?cornerAction(context):null" [src]="cornerIcon">
        <img *ngIf="infoRef" (click)="modalLib.boxHelpModal(modalService, {'title': translate.instant('common.label.help', {propertyName: translate.instant(title, titleParams)}), 'value': translate.instant(infoRef, infoRefParams)})" [src]="'/assets/svgs/info-gradient.svg'">
      </div>

      <!-- Content -->
      <label for="{{reference}}" class="white-box-button big no-text-transform">
        <img [src]="buttonIcon">
        <p>{{ buttonText | translate: buttonTextParams }}</p>
      </label>
      <input *ngIf="accept" accept="{{accept}}" class="invisible" id="{{reference}}" name="{{reference}}" type="file" (change)="buttonAction(context, $event)">
      <input *ngIf="!accept" class="invisible" id="{{reference}}" name="{{reference}}" type="file" (change)="buttonAction(context, $event)">

    </div>
  </div>

  <!-- Link Action Box -->
  <div *ngIf="type == 'link'" class="row-{{size}}">
    <div class="white-box">

      <!-- Header -->
      <div class="header">
        {{ title | translate: titleParams }}
        <img *ngIf="cornerAction" (click)="cornerAction?cornerAction(context):null" [src]="cornerIcon">
        <img *ngIf="infoRef" (click)="modalLib.boxHelpModal(modalService, {'title': translate.instant('common.label.help', {propertyName: translate.instant(title, titleParams)}), 'value': translate.instant(infoRef, infoRefParams)})" [src]="'/assets/svgs/info-gradient.svg'">
      </div>

      <!-- Content -->
      <a href="{{target}}" target="_blank" class="white-box-button big no-text-transform">
        <img [src]="buttonIcon">
        <p>{{ buttonText | translate: buttonTextParams }}</p>
      </a>

    </div>
  </div>

  <!-- Text Action Box -->
  <div *ngIf="type == 'text'" class="row-{{size}}">
    <div class="white-box">

      <!-- Header -->
      <div class="header">
        {{ title | translate: titleParams }}
        <img *ngIf="cornerAction" (click)="cornerAction?cornerAction(context):null" [src]="cornerIcon">
        <img *ngIf="infoRef" (click)="modalLib.boxHelpModal(modalService, {'title': translate.instant('common.label.help', {propertyName: translate.instant(title, titleParams)}), 'value': translate.instant(infoRef, infoRefParams)})" [src]="'/assets/svgs/info-gradient.svg'">
      </div>

      <!-- Content -->
      <p class="descriptive-text" [innerHTML]="descriptiveText | translate: descriptiveTextParams"></p>

    </div>
  </div>

  <!-- Content Action Box -->
  <div *ngIf="type == 'content'" class="row-{{size}}">
    <div class="white-box">

      <!-- Header -->
      <div class="header">
        {{ title | translate: titleParams }}
        <img *ngIf="cornerAction" (click)="cornerAction?cornerAction(context):null" [src]="cornerIcon">
        <img *ngIf="infoRef" (click)="modalLib.boxHelpModal(modalService, {'title': translate.instant('common.label.help', {propertyName: translate.instant(title, titleParams)}), 'value': translate.instant(infoRef, infoRefParams)})" [src]="'/assets/svgs/info-gradient.svg'">
      </div>

      <!-- Content -->
      <ng-content></ng-content>

    </div>
  </div>

</ng-template>
